openapi: 3.0.0
info:
  title: appman-api
  version: 1.0.0
  description: The RESTful API for the application manager appman
  contact:
    name: Dardan Rrafshi
    url: 'https://github.com/DonColon/appman-api-spec/issues'
    email: dardan.rrafshi@gmail.com
  license:
    name: Apache 2.0
    url: 'https://github.com/DonColon/appman-api-spec/blob/main/LICENSE'
servers:
  - url: 'https://api.appman.com'
paths: {}
components:
  schemas:
    Developer:
      type: object
      title: Developer
      additionalProperties: false
      minProperties: 8
      maxProperties: 10
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 65535
          readOnly: true
        firstName:
          type: string
          minLength: 1
          maxLength: 64
        familyName:
          type: string
          minLength: 1
          maxLength: 64
        userName:
          type: string
          minLength: 1
          maxLength: 64
        birthday:
          type: string
          format: date
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          pattern: '^[$]2[abxy]?[$](?:0[4-9]|[12][0-9]|3[01])[$][.\/0-9a-zA-Z]{53}$'
          minLength: 59
          maxLength: 60
          writeOnly: true
        phoneNumber:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
          minLength: 1
          maxLength: 14
        mobileNumber:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
          minLength: 1
          maxLength: 14
        createdOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - firstName
        - familyName
        - userName
        - birthday
        - email
        - password
        - mobileNumber
      description: The general information about a developer
      x-examples:
        Dardan Rrafshi (read):
          id: 1
          firstName: Dardan
          familyName: Rrafshi
          userName: DonColon
          birthday: '1997-01-30'
          email: dardan.rrafshi@gmail.com
          phoneNumber: '+497376982196'
          mobileNumber: '+4915738961424'
          createdOn: '2021-03-28T14:15:22Z'
        Dardan Rrafshi (write):
          firstName: Dardan
          familyName: Rrafshi
          userName: DonColon
          birthday: '1997-01-30'
          email: dardan.rrafshi@gmail.com
          password: $2a$10$xW.LCglUeJ0RQZJaGrJdcuiwv8WQ3jHNg2Nf9Mw4WbQgO6QyIbsL6
          phoneNumber: '+497376982196'
          mobileNumber: '+4915738961424'
    License:
      type: object
      title: License
      description: The general information about a license
      additionalProperties: false
      minProperties: 9
      maxProperties: 9
      x-examples:
        Apache License 2.0:
          id: apache-2.0
          spdxID: Apache-2.0
          name: Apache License 2.0
          description: A permissive license whose main conditions req...
          url: 'http://choosealicense.com/licenses/apache-2.0/'
          content: Apache Licens...
          permissions:
            - id: commercial-use
              name: Commercial use
              description: The licensed material and derivatives may be used for commercial purposes.
          conditions:
            - id: disclose-source
              name: Disclose source
              description: Source code must be made available when the licensed material is distributed.
          limitations:
            - id: liability
              name: Liability
              description: This license includes a limitation of liability.
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 16
          pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
          readOnly: true
        spdxID:
          type: string
          minLength: 1
          maxLength: 16
          description: A unique identifier from the SPDX (Software Package Data Exchange) License List
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        url:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        content:
          type: string
          minLength: 1
          maxLength: 4294967295
          readOnly: true
        permissions:
          type: array
          uniqueItems: true
          description: A list of permissions for this license
          items:
            type: object
            additionalProperties: false
            minProperties: 3
            maxProperties: 3
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 16
                pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
                readOnly: true
              name:
                type: string
                minLength: 1
                maxLength: 64
                readOnly: true
              description:
                type: string
                minLength: 1
                maxLength: 128
                readOnly: true
            readOnly: true
          readOnly: true
        conditions:
          type: array
          uniqueItems: true
          description: A list of conditions for this license
          items:
            type: object
            additionalProperties: false
            minProperties: 3
            maxProperties: 3
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 32
                pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
                readOnly: true
              name:
                type: string
                minLength: 1
                maxLength: 64
                readOnly: true
              description:
                type: string
                minLength: 1
                maxLength: 128
                readOnly: true
            readOnly: true
          readOnly: true
        limitations:
          type: array
          uniqueItems: true
          description: A list of limitations for this license
          items:
            type: object
            additionalProperties: false
            minProperties: 3
            maxProperties: 3
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 16
                pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
                readOnly: true
              name:
                type: string
                minLength: 1
                maxLength: 64
                readOnly: true
              description:
                type: string
                minLength: 1
                maxLength: 128
                readOnly: true
            readOnly: true
          readOnly: true
      readOnly: true
    ParameterVersion:
      type: object
      title: ParameterVersion
      description: The meta information about a parameter version
      minProperties: 11
      maxProperties: 11
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        version:
          type: string
          pattern: '(?<major>0|(?:[1-9]\d*))(?:\.(?<minor>0|(?:[1-9]\d*))(?:\.(?<patch>0|(?:[1-9]\d*))))'
          minLength: 5
          maxLength: 16
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        isArray:
          type: boolean
          readOnly: true
        hasValueHelp:
          type: boolean
          readOnly: true
        dataFormat:
          type: object
          additionalProperties: false
          minProperties: 4
          maxProperties: 6
          required:
            - id
            - name
            - format
            - min
            - max
            - type
          properties:
            id:
              type: integer
              format: int32
              minimum: 0
              maximum: 4294967295
              readOnly: true
            name:
              type: string
              minLength: 1
              maxLength: 64
              readOnly: true
            format:
              type: string
              minLength: 1
              maxLength: 128
              readOnly: true
            min:
              type: number
              minimum: -1.7976931348623157e+308
              format: double
              maximum: -2.2250738585072014e-308
              readOnly: true
            max:
              type: number
              format: double
              maximum: -2.2250738585072014e-308
              minimum: -1.7976931348623157e+308
              readOnly: true
            type:
              type: string
              minLength: 1
              maxLength: 64
              readOnly: true
          readOnly: true
        parameterType:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        allowedOperators:
          type: array
          uniqueItems: true
          minItems: 1
          maxItems: 14
          items:
            type: object
            minProperties: 3
            maxProperties: 3
            additionalProperties: false
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 3
                readOnly: true
              name:
                type: string
                minLength: 1
                maxLength: 64
                readOnly: true
              inputNumber:
                type: integer
                minimum: 0
                maximum: 255
                format: int32
                readOnly: true
            required:
              - id
              - name
              - inputNumber
          readOnly: true
        modifiedBy:
          type: object
          additionalProperties: false
          minProperties: 3
          maxProperties: 3
          required:
            - id
            - userName
            - uri
          properties:
            id:
              type: integer
              format: int32
              minimum: 1
              maximum: 65535
              readOnly: true
            userName:
              type: string
              minLength: 1
              maxLength: 64
              readOnly: true
            uri:
              type: string
              format: uri
              readOnly: true
          readOnly: true
        modifiedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - version
        - name
        - description
        - isArray
        - hasValueHelp
        - dataFormat
        - parameterType
        - allowedOperators
        - modifiedBy
        - modifiedOn
  securitySchemes: {}
