openapi: 3.0.0
info:
  title: appman-api
  version: 1.0.0
  description: The RESTful API for the application manager appman
  contact:
    name: Dardan Rrafshi
    url: 'https://github.com/DonColon/appman-api-spec/issues'
    email: dardan.rrafshi@gmail.com
  license:
    name: Apache 2.0
    url: 'https://github.com/DonColon/appman-api-spec/blob/main/LICENSE'
servers:
  - url: 'https://api.appman.com'
paths: {}
components:
  schemas:
    Developer:
      type: object
      title: Developer
      additionalProperties: false
      minProperties: 8
      maxProperties: 10
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 65535
          readOnly: true
        firstName:
          type: string
          minLength: 1
          maxLength: 64
        familyName:
          type: string
          minLength: 1
          maxLength: 64
        userName:
          type: string
          minLength: 1
          maxLength: 64
        birthday:
          type: string
          format: date
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          pattern: '^[$]2[abxy]?[$](?:0[4-9]|[12][0-9]|3[01])[$][.\/0-9a-zA-Z]{53}$'
          minLength: 59
          maxLength: 60
          writeOnly: true
        phoneNumber:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
          minLength: 1
          maxLength: 14
        mobileNumber:
          type: string
          pattern: '^\+[1-9]\d{1,14}$'
          minLength: 1
          maxLength: 14
        createdOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - firstName
        - familyName
        - userName
        - birthday
        - email
        - password
        - mobileNumber
      description: The general information about a developer
      x-examples:
        Dardan Rrafshi (read):
          id: 1
          firstName: Dardan
          familyName: Rrafshi
          userName: DonColon
          birthday: '1997-01-30'
          email: dardan.rrafshi@gmail.com
          phoneNumber: '+497376982196'
          mobileNumber: '+4915738961424'
          createdOn: '2021-03-28T14:15:22Z'
        Dardan Rrafshi (write):
          firstName: Dardan
          familyName: Rrafshi
          userName: DonColon
          birthday: '1997-01-30'
          email: dardan.rrafshi@gmail.com
          password: $2a$10$xW.LCglUeJ0RQZJaGrJdcuiwv8WQ3jHNg2Nf9Mw4WbQgO6QyIbsL6
          phoneNumber: '+497376982196'
          mobileNumber: '+4915738961424'
    License:
      type: object
      title: License
      description: The general information about a license
      additionalProperties: false
      minProperties: 9
      maxProperties: 9
      x-examples:
        Apache License 2.0:
          id: apache-2.0
          spdxID: Apache-2.0
          name: Apache License 2.0
          description: A permissive license whose main conditions req...
          url: 'http://choosealicense.com/licenses/apache-2.0/'
          content: Apache Licens...
          permissions:
            - id: commercial-use
              name: Commercial use
              description: The licensed material and derivatives may be used for commercial purposes.
          conditions:
            - id: disclose-source
              name: Disclose source
              description: Source code must be made available when the licensed material is distributed.
          limitations:
            - id: liability
              name: Liability
              description: This license includes a limitation of liability.
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 16
          pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
          readOnly: true
        spdxID:
          type: string
          minLength: 1
          maxLength: 16
          description: A unique identifier from the SPDX (Software Package Data Exchange) License List
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        url:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        content:
          type: string
          minLength: 1
          maxLength: 4294967295
          readOnly: true
        permissions:
          type: array
          uniqueItems: true
          description: A list of permissions for this license
          items:
            type: object
            additionalProperties: false
            minProperties: 3
            maxProperties: 3
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 16
                pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
                readOnly: true
              name:
                type: string
                minLength: 1
                maxLength: 64
                readOnly: true
              description:
                type: string
                minLength: 1
                maxLength: 128
                readOnly: true
            readOnly: true
          readOnly: true
        conditions:
          type: array
          uniqueItems: true
          description: A list of conditions for this license
          items:
            type: object
            additionalProperties: false
            minProperties: 3
            maxProperties: 3
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 32
                pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
                readOnly: true
              name:
                type: string
                minLength: 1
                maxLength: 64
                readOnly: true
              description:
                type: string
                minLength: 1
                maxLength: 128
                readOnly: true
            readOnly: true
          readOnly: true
        limitations:
          type: array
          uniqueItems: true
          description: A list of limitations for this license
          items:
            type: object
            additionalProperties: false
            minProperties: 3
            maxProperties: 3
            properties:
              id:
                type: string
                minLength: 1
                maxLength: 16
                pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
                readOnly: true
              name:
                type: string
                minLength: 1
                maxLength: 64
                readOnly: true
              description:
                type: string
                minLength: 1
                maxLength: 128
                readOnly: true
            readOnly: true
          readOnly: true
      readOnly: true
    ParameterVersion:
      type: object
      title: ParameterVersion
      description: The meta information about a parameter version
      minProperties: 11
      maxProperties: 11
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        version:
          type: string
          pattern: '(?<major>0|(?:[1-9]\d*))(?:\.(?<minor>0|(?:[1-9]\d*))(?:\.(?<patch>0|(?:[1-9]\d*))))'
          minLength: 5
          maxLength: 16
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        isArray:
          type: boolean
          readOnly: true
        hasValueHelp:
          type: boolean
          readOnly: true
        required:
          type: boolean
          readOnly: true
        dataFormat:
          $ref: '#/components/schemas/DataFormat'
        parameterType:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        allowedOperators:
          type: array
          uniqueItems: true
          minItems: 1
          maxItems: 14
          items:
            $ref: '#/components/schemas/Operator'
          readOnly: true
        modifiedBy:
          $ref: '#/components/schemas/DeveloperReference'
        modifiedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - version
        - name
        - description
        - isArray
        - hasValueHelp
        - dataFormat
        - parameterType
        - allowedOperators
        - modifiedBy
        - modifiedOn
        - required
    DataFormat:
      title: DataFormat
      type: object
      additionalProperties: false
      minProperties: 4
      maxProperties: 6
      description: The meta information about a data format
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        format:
          type: string
          minLength: 1
          maxLength: 1024
          readOnly: true
        min:
          type: number
          format: double
          minimum: -1.7976931348623157e+308
          maximum: -2.2250738585072014e-308
          readOnly: true
        max:
          type: number
          format: double
          maximum: -2.2250738585072014e-308
          minimum: -1.7976931348623157e+308
          readOnly: true
        type:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
      required:
        - id
        - name
        - format
        - type
      readOnly: true
    Operator:
      title: Operator
      type: object
      minProperties: 3
      maxProperties: 3
      additionalProperties: false
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 3
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        inputNumber:
          type: integer
          minimum: 0
          maximum: 255
          format: int32
          readOnly: true
      required:
        - id
        - name
        - inputNumber
      description: The meta information about an operator
    DeveloperReference:
      title: DeveloperReference
      type: object
      additionalProperties: false
      minProperties: 3
      maxProperties: 3
      required:
        - id
        - userName
        - uri
      properties:
        id:
          type: integer
          format: int32
          minimum: 1
          maximum: 65535
          readOnly: true
        userName:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        uri:
          type: string
          format: uri
          readOnly: true
      readOnly: true
      description: The reference to the developer information. It contains an uri to the full representation of the developer.
    SystemVersion:
      type: object
      title: SystemVersion
      description: The meta information about a system version
      minProperties: 6
      maxProperties: 7
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          maximum: 4294967295
          minimum: 0
          readOnly: true
        version:
          type: string
          pattern: '(?<major>0|(?:[1-9]\d*))(?:\.(?<minor>0|(?:[1-9]\d*))(?:\.(?<patch>0|(?:[1-9]\d*))))'
          minLength: 5
          maxLength: 16
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        docUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        addedBy:
          $ref: '#/components/schemas/DeveloperReference'
        addedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - version
        - name
        - description
        - addedBy
        - addedOn
      readOnly: true
    ComponentVersion:
      type: object
      title: ComponentVersion
      description: The meta information about a component version
      minProperties: 6
      maxProperties: 8
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        version:
          type: string
          pattern: '(?<major>0|(?:[1-9]\d*))(?:\.(?<minor>0|(?:[1-9]\d*))(?:\.(?<patch>0|(?:[1-9]\d*))))'
          minLength: 5
          maxLength: 16
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        subComponents:
          type: array
          description: The sub components that are used by the component
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ComponentVersion'
          readOnly: true
        allowedParameters:
          type: array
          description: The parameters that are allowed to set in the configuration
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ParameterVersion'
          readOnly: true
        addedBy:
          $ref: '#/components/schemas/DeveloperReference'
        addedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - version
        - name
        - description
        - addedBy
        - addedOn
      readOnly: true
    ViewVersion:
      type: object
      title: ViewVersion
      description: The meta information about a view version
      minProperties: 6
      maxProperties: 8
      additionalProperties: false
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        version:
          type: string
          pattern: '(?<major>0|(?:[1-9]\d*))(?:\.(?<minor>0|(?:[1-9]\d*))(?:\.(?<patch>0|(?:[1-9]\d*))))'
          minLength: 5
          maxLength: 16
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        route:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        viewComponents:
          type: array
          description: The components that are used by the view
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ComponentVersion'
          readOnly: true
        allowedParameters:
          type: array
          description: The parameters that are allowed to set in the configuration
          uniqueItems: true
          items:
            $ref: '#/components/schemas/ParameterVersion'
          readOnly: true
        addedBy:
          $ref: '#/components/schemas/DeveloperReference'
        addedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - version
        - name
        - description
        - route
        - addedBy
        - addedOn
      readOnly: true
    ApplicationVersion:
      type: object
      title: ApplicationVersion
      description: The meta information about a application version
      additionalProperties: false
      minProperties: 9
      maxProperties: 11
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        version:
          type: string
          pattern: '(?<major>0|(?:[1-9]\d*))(?:\.(?<minor>0|(?:[1-9]\d*))(?:\.(?<patch>0|(?:[1-9]\d*))))'
          minLength: 5
          maxLength: 16
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        homepageUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        repositoryUrl:
          type: string
          minLength: 1
          maxLength: 256
          format: uri
          readOnly: true
        gitUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        issueUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        license:
          $ref: '#/components/schemas/LicenseReference'
        author:
          $ref: '#/components/schemas/DeveloperReference'
        collaborators:
          type: array
          description: The developers that work on this application
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DeveloperReference'
          readOnly: true
        backendSystems:
          type: array
          uniqueItems: true
          description: The backend systems that are used by the application
          items:
            $ref: '#/components/schemas/SystemVersion'
          readOnly: true
        applicationViews:
          type: array
          uniqueItems: true
          description: The views that are used by the application
          items:
            $ref: '#/components/schemas/ViewVersion'
          readOnly: true
        allowedParameters:
          type: array
          uniqueItems: true
          description: The parameters that are allowed to set in the configuration
          items:
            $ref: '#/components/schemas/ParameterVersion'
          readOnly: true
        addedBy:
          $ref: '#/components/schemas/DeveloperReference'
        addedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - version
        - name
        - description
        - license
        - author
        - backendSystems
        - applicationViews
        - addedBy
        - addedOn
      readOnly: true
    Application:
      type: object
      title: Application
      description: The meta information about a application
      additionalProperties: false
      maxProperties: 12
      minProperties: 7
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        homepageUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        repositoryUrl:
          type: string
          minLength: 1
          maxLength: 256
          format: uri
          readOnly: true
        gitUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        issueUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        license:
          $ref: '#/components/schemas/LicenseReference'
        author:
          $ref: '#/components/schemas/DeveloperReference'
        collaborators:
          type: array
          description: The developers that work on this application
          uniqueItems: true
          items:
            $ref: '#/components/schemas/DeveloperReference'
          readOnly: true
        modifiedBy:
          $ref: '#/components/schemas/DeveloperReference'
        modifiedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - name
        - description
        - license
        - author
        - modifiedBy
        - modifiedOn
      readOnly: true
    DataType:
      type: object
      title: DataType
      description: The meta information about a data type
      additionalProperties: false
      minProperties: 3
      maxProperties: 3
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        formats:
          type: array
          uniqueItems: true
          description: The data formats for this data type
          items:
            $ref: '#/components/schemas/DataFormat'
          readOnly: true
      required:
        - id
        - name
        - formats
      readOnly: true
    Component:
      type: object
      title: Component
      additionalProperties: false
      minProperties: 5
      maxProperties: 5
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        modifiedBy:
          $ref: '#/components/schemas/DeveloperReference'
        modifiedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - name
        - description
        - modifiedBy
        - modifiedOn
      readOnly: true
      description: The meta information about a component
    View:
      title: View
      type: object
      additionalProperties: false
      minProperties: 5
      maxProperties: 5
      description: The meta information about a view
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        route:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        modifiedBy:
          $ref: '#/components/schemas/DeveloperReference'
        modifiedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - name
        - description
        - modifiedBy
        - modifiedOn
      readOnly: true
    System:
      title: System
      type: object
      additionalProperties: false
      minProperties: 5
      maxProperties: 5
      description: The meta information about a system
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        docUrl:
          type: string
          format: uri
          minLength: 1
          maxLength: 256
          readOnly: true
        modifiedBy:
          $ref: '#/components/schemas/DeveloperReference'
        modifiedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - name
        - description
        - modifiedBy
        - modifiedOn
      readOnly: true
    Parameter:
      title: Parameter
      type: object
      additionalProperties: false
      minProperties: 5
      maxProperties: 5
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        description:
          type: string
          minLength: 1
          maxLength: 128
          readOnly: true
        modifiedBy:
          $ref: '#/components/schemas/DeveloperReference'
        modifiedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - name
        - description
        - modifiedBy
        - modifiedOn
      readOnly: true
      description: The meta information about a parameter
    ParameterType:
      title: ParameterType
      type: object
      additionalProperties: false
      minProperties: 5
      maxProperties: 5
      description: The meta information about a parameter type
      properties:
        id:
          type: integer
          format: int32
          minimum: 0
          maximum: 4294967295
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        modifiedBy:
          $ref: '#/components/schemas/DeveloperReference'
        modifiedOn:
          type: string
          format: date-time
          readOnly: true
      required:
        - id
        - name
        - modifiedBy
        - modifiedOn
      readOnly: true
    LicenseReference:
      type: object
      title: LicenseReference
      additionalProperties: false
      minProperties: 3
      maxProperties: 3
      properties:
        id:
          type: string
          minLength: 1
          maxLength: 16
          pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
          readOnly: true
        name:
          type: string
          minLength: 1
          maxLength: 64
          readOnly: true
        uri:
          type: string
          format: uri
          readOnly: true
      required:
        - id
        - name
        - uri
      readOnly: true
      description: The reference to the license information. It contains an uri to the full representation of the license.
  securitySchemes: {}
  parameters:
    id:
      name: id
      in: path
      schema:
        type: integer
        maximum: 4294967295
        minimum: 0
        format: int32
      description: A unique identifier for an entity as an integer
      required: true
    version:
      name: version
      in: path
      required: true
      schema:
        type: string
        pattern: '(?<major>0|(?:[1-9]\d*))(?:\.(?<minor>0|(?:[1-9]\d*))(?:\.(?<patch>0|(?:[1-9]\d*))))'
        minLength: 5
        maxLength: 16
      description: The semantic version number of an entity
    label:
      name: label
      in: path
      required: true
      schema:
        type: string
        pattern: '^([a-z][a-z0-9]*)(-[a-z0-9]+)*$'
        minLength: 1
        maxLength: 64
      description: A unique identifier for an entity as a string
    page:
      name: page
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
      description: The number of the page to select. The default is 1.
    pageSize:
      name: pageSize
      in: query
      required: false
      schema:
        type: integer
        format: int32
        default: 12
        minimum: 12
        maximum: 60
      description: The number of items on the page. The default value is 12. The maximum amount for a page is 60.
    sortBy:
      name: sortBy
      in: query
      required: false
      schema:
        type: string
        minLength: 1
        default: id
      description: The name of the property to sort the items with. By default the id of the entity is used for sorting.
    sortOrder:
      name: sortOrder
      in: query
      required: false
      schema:
        type: string
        default: asc
        enum:
          - asc
          - desc
        minLength: 3
        maxLength: 4
      description: The direction to sort the items. By default the items are sorted by ascending order
  examples: {}
